*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: titulo;
    src: url(./chabul/CHABUL.ttf)
}


#home {
    background-image: url(https://img.freepik.com/premium-photo/stack-books-lush-green-forest_93675-191467.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fffffff0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
#home h1{
    
    text-align: center;
    padding: 0px;
    margin: 20px;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-family: titulo;
}

#home p{
    text-align: center;
    font-size: medium;
    color: #2d1501;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section:not(#home){
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
    background-color:#ffdec3 ;
    color: #2a1902;
}
nav{
    position:fixed; /*deixou o nav fixo*/
    top: 0;
    width: 100%;
    background-color:#2d1501;
    padding: 20px 0;

}

nav ul{
    list-style-type: none; 
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 30px;
}

nav ul li a{
color: #dbb66bd2;
text-decoration: none ;
font-size: 18px;
padding: 10px;
transition: color 0.3s ;
}

nav ul li a:hover{
    color: #ffffffe3;

}

#option ul{
    list-style-type: none; 
    display: flex;
    justify-content: center;

}
#option ul li{
    margin: 0 15px;

}


/*estilos responsivos com breakpoints*/

@media (max-width: 480px) {
    #nav ul li a{
        background-color: #2d1501;
        display:flex;
        justify-content:space-between;
        margin: 1px;
        padding: 1px;
        flex-wrap:wrap;
        list-style-type:none;
     }
   h1{
    font-size: 50px;
     }
   .cta-button{
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
     }
     p{
        justify-content: center;
        font-size: medium;
        text-align: center ;
        padding: 1.2px;
        margin: 2px;
     }

     #about{
        text-align: center;
        font-size: 1.2px;
       
     }


    
}




#about ul li a{
    background-color: #b9bea6;
    color: #2d1501;
    transition: color 0.3s ;
}
#about ul li a:hover {
    color: white;
}
#about p{
    margin: 20px;
    padding: 15px;
    text-align: center;
    justify-content: center;
}


.footer{
    background-size: cover;
    background-repeat: no-repeat;
    color:#fffffff0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    list-style-type: none; 
    display: flex;
    justify-content: center;
    position:flex;
    width: 100%;
    background-color:#2d1501;
    padding: 20px 0;

}

.cta-button{
    margin-top: 30px;
    background-color: #006c53;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 6px #000000d9;
    transition: background-color 1s ease, transform 1s ease;
}

.cta-button:hover{
    box-shadow:  0px 4px 6px #190118d9;;

}